/.vs/
bin/
obj/
/dv
/.idea/.idea.dv-mph.dir/.idea/.gitignore
/.idea/.idea.dv-mph-0.2.dir/.idea/.gitignore
/.idea/.idea.dv-mph-0.2.dir/.idea/.name
/.idea/.idea.dv-mph.dir/.idea/encodings.xml
/Folder.DotSettings.user
/.idea/.idea.dv-mph.dir/.idea/indexLayout.xml
/.idea/.idea.dv-mph.dir/.idea/vcs.xml
/.idea/.idea.dv-mph-0.2.dir/.idea/vcs.xml
